# Исключение директорий виртуального окружения
.venv/

# Исключение конфигурационных файлов PyCharm
.idea/

# Исключение файлов кэша Python
__pycache__/
*.py[cod]

# Исключение файлов из систем управления версиями
.git/
.hg/
.svn/

# Исключение временных и резервных файлов
*.swp
*~
*.bak
*.tmp

# Исключение файлов журналов
*.log

# Исключение файлов среды разработки
*.env
.gitignore